.card{
    width: 50%;
    margin: 1% 3%;
    font-family: "Lora";
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width:768px) {
    .card{
        width: 80%;
        margin: 1% 1%;
    }
    
}
.imgg{
    width:70%;
    height: 50vh;
    align-items: center;
    padding:10px;
}
.imgg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:10px;   
}
.services{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgtext{
    width: 130%;
    height: 100%;
}
.imgtext a{
    font-family: "Lora";
    text-decoration: none;
    color: red;
}

@media screen and (max-width:900px) {
    .imgg{
        width:100%;
        height: 50vh;
        align-items: center;
        padding:10px;
    }
    
    .imgtext{
        width: 100%;
        height: 100%;
        padding: 20px;
    }  
    .imgtext a{
        font-family: "Lora";
        text-decoration: none;
        color: red;
    }
}