
.lower-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

body:hover .lower-bar {
  opacity: 1;
}

.onex32{
  background-color: #25D366;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onex32:hover {
  background-color: #128C7E;
}

.onex32:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.onex32 svg{
  width: 40px;
  height: 40px;
}
@media screen and (max-width:640px) {
  #webcamVideo {
    width: 100px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    z-index: 100;
  }
  .onex32 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .onex32 svg{
    width: 40px ;
    height: 40px ;
  }
}

